<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ASCII">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin - Start Bootstrap Template</title>
    </head>
    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
       <a class="navbar-brand" href="index.html">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="/dash_board/Index">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                        <a class="nav-link" href="/contacto/Contacto">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span class="nav-link-text">Contacto</span>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                        <a class="nav-link" href="/envio_ftp/EnvioFtp">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <span class="nav-link-text">Envio FTP</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-table"></i> Subir Archivo</div>
                    <div class="card-body">
                        <%= form_for :archivos, :url => { :action => :upload }, :method => "post", :multipart => true do |f| %>
                          <%= f.file_field :archivo %>
                          <div class="form-group">
                              <div class="col-md-12 text-center">
                                  <%= f.submit :Enviar, class: 'btn btn-primary' %>  
                                  <% end %>
                              </div>
                          </div>
                          <% if notice != nil %>
                            <div class="col-md-2 text-center">
                                <div class="alert alert-success" role="alert">
                                    <p class="notice"><%= notice %></p>
                                </div>
                            </div>
                          <% end %>
                          <% if alert != nil %>
                            <div class="col-md-4 text-center">
                                <div class="alert alert-danger" role="alert">
                                    <p class="alert"><%= alert %></p>
                                </div>
                            </div>
                          <% end %>
                      </div>  
                  </div>
              </div>
              <!-- /.container-fluid-->
              <!-- /.content-wrapper-->
              <footer class="sticky-footer">
                  <div class="container">
                      <div class="text-center">
                          <small>Copyright © Your Website 2017</small>
                      </div>
                  </div>
              </footer>
              <!-- Scroll to Top Button-->
              <a class="scroll-to-top rounded" href="#page-top">
                  <i class="fa fa-angle-up"></i>
              </a>
              <!-- Logout Modal-->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                              </button>
                          </div>
                          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                          <div class="modal-footer">
                              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                              <a class="btn btn-primary" href="login.html">Logout</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </body>
  </html>


